:root {
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02em;

  color: #a6a6a6;
  background-color: #0a0b0b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #a6a6a6;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0;
  padding: 0.9em 0.9em;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  color: #a6a6a6;
  cursor: pointer;
}
button:hover {
  color: #ffffff;
}

/* ============ NAVBAR ============ */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: #0a0b0b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topNav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoButton {
  padding: 0;
}

.logo {
  width: 15em;
  padding: 1.5em 0;
}

.loginAndSignupDiv {
  position: absolute;
  right: 0;
  margin-right: 2em;
  display: flex;
}

.loginAndSignupDiv button {
  font-size: 1.25em;
  font-weight: inherit;
}

.loginAndSignupDiv p {
  font-size: 1.25em;
}

.divider {
  color: #353535;
  font-weight: 400;
}

.bottomNav {
  width: 100vw;
  border: 1px solid #4e4e4e;
  display: flex;
  justify-content: center;
}

.bottomNav button {
  font-size: 1.25em;
  font-weight: inherit;
  padding: 0.9em 1.5em;
}

.navbarHomeButton {
  border-left: 1px solid #4e4e4e;
  border-right: 1px solid #4e4e4e;
}

.navbarStarshipsButton {
  border-right: 1px solid #4e4e4e;
}
/* ================================ */

/* ============= HOME ==============*/
.homePageDiv {
  margin-top: 17%;
}

.welcomeGif {
  width: 80vw;
}
/* ================================ */

/* =========== STARSHIPS ===========*/
.starshipsPageDiv {
  margin-top: 260px;
}

.loading {
  font-size: 1.5em;
}

.loadingMore {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.starshipInfoDiv {
  background-color: #1b1b1b;
  width: 65vw;
  margin: 1.25em 0;
  padding: 1.2em 1.5em 1.1em 1.5em;
  cursor: pointer;
}

.starshipName {
  font-size: 1.75em;
  margin-bottom: 0.25em;
}

.starshipModel {
  font-size: 1.3em;
}
/* ================================ */

/* =========== STARSHIP INFO CARD ===========*/
.starshipsInfoCardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.starshipImageDiv {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  margin-right: 0.5em;
}

.starshipImage {
  width: 100%;
}

.starshipsInfoCardDiv ul {
  list-style: none; 
  padding: 1em; 
  margin: 0; 
  line-height: 2;
  font-size: 1.25em;
}

ul li {
  border-bottom: 1px solid white;
  width: 400px;
  text-align: left;
  padding: 5px;
}

.infoCategory {
  font-weight: 500;
}
/* ========================================== */

@media (max-width: 650px) {
  .loginAndSignupDiv {
    display: none;
  }
}
@media (max-width: 1500px) {
  .starshipsInfoCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .starshipImageDiv {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }
}
